@* Specialties *@

<div>
    <!-- Section for CRUD of Specialties -->
    <!-- Sección para CRUD de Especialidades -->
    @Html.Partial("_SpecialtiesList")

    <!-- Speciality name-->
    <label name="specialtyName">Speciality Name</label>
    <input type="text" id="specialtyName" name="inpt" placeholder="Especialidad">
</div>