@{
    ViewData["Title"] = "Hospital";
}

<div class="text-center">
    <h1 class="display-2 fw-normal">ProSalud</h1>

    <button id="btnSpecialities" class="btn" onclick="showContent('specialitiesContent')">Specialities</button>
    <button id="btnAppointments" class="btn" onclick="showContent('appointmentsContent')">Appointments</button>
    <button id="btnDoctors" class="btn" onclick="showContent('doctorsContent')">Doctors</button>
    <button id="btnPatients" class="btn" onclick="showContent('patientsContent')">Patients</button>

    <div id="content">
        <div id="specialitiesContent" style="display:none;">
            @Html.Partial("specialtiesP")
        </div>
        <div id="appointmentsContent" style="display:none;">
            @Html.Partial("appointmentsP")
        </div>
        <div id="doctorsContent" style="display:none;">
            @Html.Partial("doctorsP")
        </div>
        <div id="patientsContent" style="display:none;">
            @Html.Partial("patientsP")
        </div>
    </div>

    <script>
        function showContent(contentId) {// Ocultamos todos los divs dentro del contenedor "content"
            document.querySelectorAll('#content > div').forEach(function(div) {
                div.style.display = 'none';
            });
            document.getElementById(contentId).style.display = 'block'; // Mostramos el contenido correspondiente
        }
    </script>
</div>
