@{
    ViewData["Title"] = "Hospital";
}

<div class="text-center">
    <h1 class="display-2 fw-normal">ProSalud</h1>

    <button id="btnPatients" class="buttonArea">Patients</button>
    <button id="btnDoctors" class="buttonArea">Doctors</button>
    <button id="btnAppointments" class="buttonArea">Appointments</button>
    <button id="btnSpecialities" class="buttonArea">Specialities</button>

    <div id="content"></div>
</div>
