@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At ProSalud, we value your privacy and are committed to protecting your personal information. This Privacy Policy describes how we collect, use, and protect your information when you visit our website. Please note that this project is open-source and its main purpose is to practice programming and develop my portfolio.</p>

<h2>Information We Collect</h2>
<p>We collect various types of information to provide and improve our services:</p>
<ul>
    <li><strong>Personal Information:</strong> Name, email address, phone number, etc.</li>
    <li><strong>Usage Information:</strong> Data on how you access and use our website, including your IP address, browser type, pages visited, and time spent.</li>
</ul>

<h2>Use of Information</h2>
<p>We use the collected information solely for study purposes and it will never be shared with third parties:</p>

<h2>Information Protection</h2>
<p>We implement security measures to protect your personal information against unauthorized access, alteration, disclosure, or destruction.</p>
<p>Users are asked to enter example data and no real data such as names, email addresses, phone numbers, etc.</p>

<h2>Sharing Information</h2>
<p>We do not share your personal information with third parties, except in the following circumstances:</p>
<ul>
    <li>To comply with legal obligations.</li>
    <li>To protect and defend our rights and property.</li>
</ul>

<h2>Your Rights</h2>
<p>You have the right to access, correct, or delete your personal information.</p>

<h2>Changes to this Privacy Policy</h2>
<p>We may update our Privacy Policy occasionally. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

<h2>Contact</h2>
<p>If you have any questions about this Privacy Policy, please contact us at e00000371247@aliat.edu.mx</p>

